.is-disabled-group {
  opacity: 0.5;
  pointer-events: none;
}
.sub-item {
  margin-bottom: var(--spacing-xs);
  padding-left: var(--spacing-xs);
}
.standout-header {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
  margin-top: var(--spacing-xs);
  color: var(--theme-text-color);
}
.mt-1 {
  margin-top: var(--spacing-xs);
}
.api-connections-drawer-input-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
}
