@use '../mixins' as *;

.api-connections-drawer {
  overflow-y: auto;
  height: 100%;
  width: 100%;

  &-wrapper {
    @include flex-container(column);
    gap: var(--spacing-md);
  }

  &-section {
    @include flex-container(column);
    gap: var(--spacing-xs);
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: var(--spacing-xs) 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--theme-border-color);
    width: 100%;
    margin: 0;
  }

  .online_status {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);
  }

  .online_status_indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--grey-50);
    transition: background-color var(--animation-duration-2x);

    &.success {
      background-color: var(--color-accent-green);
    }
  }

  &-input-group {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    width: 100%;

    .menu-button {
      flex-shrink: 0;
      @include button-base();
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-lg);
  }
}

.preset-manager-controls {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xs);

  .select-wrapper {
    flex-grow: 1;
  }
}

.neutral_warning {
  color: var(--color-warning);
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0.9;
}
