.character-panel {
  &-controls {
    border-bottom: 1px solid var(--theme-border-color);
    gap: 4px;
  }

  &-actions {
    #extension-buttons-container {
      display: contents;
    }
  }

  &-search-row {
    align-items: flex-start;
  }

  &-character-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 0;
    border-bottom: 1px solid var(--theme-border-color);
  }

  &-editor {
    flex: 1;
    min-height: 0;
  }
}
