@use '../mixins' as *;

.chat-management {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing-sm);

  &-header {
    display: flex;
    gap: var(--spacing-xs);
    border-bottom: 1px solid var(--theme-border-color);
    flex-shrink: 0;
    align-items: center;
    height: var(--header-height);
    padding: var(--spacing-xs) var(--spacing-md);

    .menu-button {
      flex: 1;
      padding: var(--spacing-sm);
      @include button-base();

      &.active {
        background-color: var(--theme-emphasis-color);
        color: var(--black-100);
        font-weight: bold;
      }
    }
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: var(--spacing-sm) var(--spacing-md);
  }

  &-tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  &-search-input {
    margin: 0;
    width: auto;
    flex-grow: 1;
  }

  &-config-tab {
    padding: var(--spacing-xs);
    height: 100%;
  }

  // --- Chats Tab ---
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
    flex-shrink: 0;
  }

  &-list {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding-right: var(--spacing-xxs);
  }
}
