.connection-profile-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .fields-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--spacing-xs) var(--spacing-md);

    .checkbox-container {
      margin: 0;
    }

    .field-value {
      background: var(--black-30a);
      padding: var(--spacing-xs);
      border-radius: var(--base-border-radius);
      font-family: var(--font-family-mono);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
