@use '../mixins' as *;

.extensions-panel {
  &-controls {
    gap: var(--spacing-xs);
  }

  &-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    margin-top: var(--spacing-md);
    @include flex-container(column);
    gap: var(--spacing-xs);
  }
}

.extension-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  &-header {
    border-bottom: 1px solid var(--theme-border-color);
    padding-bottom: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    padding-left: var(--spacing-xl);

    h3 {
      margin: 0;
      display: flex;
      align-items: baseline;
      gap: var(--spacing-sm);
    }

    .version {
      font-size: 0.8em;
      opacity: 0.7;
    }
  }

  &-description {
    opacity: 0.9;
  }
}

.extension_container {
  @include card-base(var(--black-30a), 1px solid var(--theme-border-color), var(--base-border-radius-rounded));
  padding: var(--spacing-md);

  .inline-drawer-header {
    background-color: transparent;
  }

  .inline-drawer-content {
    background-color: var(--black-50a);
  }
}

.extensions-panel-editor {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
