@use '../mixins' as *;

.formatting-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-sm);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include flex-container(row, space-between, center);

    h3 {
      margin: 0;
    }
  }

  &-description {
    opacity: 0.8;
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: var(--spacing-xs);
  }
}
