.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 0.9em;

  &__nav {
    white-space: nowrap;
  }

  &__pages {
    display: flex;
    gap: 5px;
  }

  &__size-changer {
    select {
      margin: 0;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  .menu-button {
    padding: 3px 6px;
    margin: 0;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
