.popup {
  background-color: var(--theme-background-tint);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  box-shadow: 0 5px 15px var(--black-50a);

  &::backdrop {
    background-color: var(--black-60a);
    backdrop-filter: blur(5px);
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.popup-input {
  width: 100%;
  resize: vertical;
  display: block;
  border: 1px solid var(--theme-border-color);
  border-radius: 5px;
  outline: none;
  background-color: var(--black-30a);
  color: var(--theme-text-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  padding: 5px 10px;
}
