.popup {
  background-color: var(--theme-background-tint);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  width: 500px;
  box-shadow: 0 5px 15px var(--black-50a);
  overflow: hidden;

  max-width: calc(100dvw - 2em);
  min-height: fit-content;

  &::backdrop {
    background-color: var(--black-60a);
    backdrop-filter: blur(5px);
  }

  &.wide {
    min-width: var(--panel-width);
    max-width: 80vw;
  }

  &.large {
    .popup-body {
      max-width: 90dvw;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 10px;
    }

    .popup-content {
      flex-grow: 1;
      display: flex;
    }

    .popup-input {
      flex-grow: 1;
      resize: none;
      height: 100%;
    }
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  max-height: 95dvh;
}

.popup-content {
  flex-grow: 1;

  &.is-input {
    display: flex;
  }

  &.is-crop {
    display: flex;
    justify-content: center;
  }

  .crop-container {
    max-width: 100%;
    max-height: 70vh;
  }
}

.popup-controls {
  display: flex;
  align-self: center;
  gap: 10px;
  margin-top: 10px;

  .menu-button {
    width: unset;

    &.ok {
      background-color: var(--color-accent-crimson-70a);
    }
    &.default {
      box-shadow: 0 0 5px var(--white-20a);
    }
  }
}
