@use '../mixins' as *;

.standout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xs);
  font-size: 1.1em;
  color: var(--theme-text-color);
  @include flex-container(row, space-between, center);
}

.preset-manager {
  margin-bottom: var(--spacing-xl);

  &-actions {
    display: flex;
    gap: var(--spacing-xs);
  }
}
