.prompt-manager-popup {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
  }

  &__description {
    opacity: 0.8;
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px; // space for scrollbar
    max-height: 60vh;
  }
}

.prompt-item {
  border: 1px solid var(--theme-border-color);
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--black-30a);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: var(--white-20a);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }

  &__chevron {
    transition: transform var(--animation-duration-2x);
    opacity: 0.7;

    &.is-open {
      transform: rotate(90deg);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 5px;

    .menu-button-icon {
      font-size: 1em;
      padding: 3px;

      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }

  &__content {
    padding: 10px;
    border-top: 1px solid var(--theme-border-color);
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--marker {
      font-style: italic;
      opacity: 0.7;
    }

    label {
      font-weight: bold;
      opacity: 0.9;
    }
  }
}
