@use '../mixins' as *;

.user-settings-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &-header {
    margin-bottom: var(--spacing-sm);
    h3 {
      margin: 0;
    }
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: var(--spacing-xs);
    @include flex-container(column);
    gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md);
  }

  &-no-results {
    text-align: center;
    opacity: 0.7;
    margin-top: var(--spacing-xl);
  }

  &-category {
    margin-bottom: var(--spacing-xs);
  }

  .user-settings-list {
    @include flex-container(column);
    gap: var(--spacing-sm);
  }
}
