.user-settings-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;

  &-header {
    margin-bottom: 10px;
    h3 {
      margin: 0;
    }
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-no-results {
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
  }

  &-category {
    margin-bottom: 5px;
  }

  .user-settings-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--white-20a);

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .setting-full-width {
      width: 100%;
    }

    .setting-details {
      display: flex;
      flex-direction: column;
      gap: 3px;
      flex-grow: 1;
      min-width: 0;

      label {
        font-weight: bold;
      }
      small {
        opacity: 0.7;
        font-size: 0.9em;
      }
    }

    .setting-control {
      flex-shrink: 0;
      width: 220px;
    }
  }
}
