.world-entry-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  transition:
    opacity var(--animation-duration-3x),
    filter var(--animation-duration-3x);

  &.is-disabled {
    opacity: 0.5;
    filter: grayscale(0.8);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
  }

  &__section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .flex-1 {
      flex: 1;
    }

    small {
      text-align: center;
      opacity: 0.8;
      font-weight: bold;
      width: 100%;
      margin-bottom: -5px;
    }

    .control-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 120px;
      gap: 2px;
    }

    &--column {
      flex-direction: column;
    }
  }

  &__label--with-uid {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 15px;
    .checkbox-label {
      font-size: 0.9em;
    }
  }

  .additional-sources {
    width: 100%;
    .inline-drawer-header {
      padding: 5px;
    }
    .inline-drawer-content {
      padding: 10px;
    }
  }
}
