.world-info-global-settings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  height: 100%;
  overflow-y: auto;
  padding-right: var(--spacing-sm);
}

.world-info-global-settings .main-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3,
h4 {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid var(--theme-border-color);
  width: 100%;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.wi-settings-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-lg);
}

.wi-settings-grid-sliders {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.wi-settings-grid-checkboxes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
}

select[multiple] {
  min-height: 120px;
}

.global-token-stat {
  background: var(--black-30a);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--theme-border-color);
  margin-bottom: var(--spacing-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  strong {
    color: var(--theme-text-color);
    font-family: var(--font-family-mono);
  }
}
