// Global imports - available everywhere
@use 'variables';
@use 'mixins' as *;

// Components with scoped imports
@use 'base';
@use 'transitions';
@use 'ui-components';
@use 'components';
@use 'toast';

#background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-image var(--animation-duration-3x) ease-in-out;
  z-index: -1;
}
