@use 'responsive' as *;
@use 'variables';
@use 'mixins' as *;

// Components with scoped imports
@use 'base';
@use 'transitions';
@use 'ui-components';
@use 'components';
@use 'toast';

#background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-image var(--animation-duration-3x) ease-in-out;
  filter: blur(var(--blur-radius));
  z-index: -1;
}

.app-initializing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: calc(var(--z-tooltip) - 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-background-tint);
  flex-direction: column;
  gap: var(--spacing-lg);
  pointer-events: all;

  .loading-spinner {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    opacity: 0.8;
    color: var(--theme-text-color);
  }
}
